<script>
  window.onload = function() { 
    var element = document.getElementById("onoteUserGuide");
    element.classList.add("active");
}
</script>
<div class="body">
{{> nav}}
{{> main}}
</div>
