<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}} lg:pt-[90px] lg:pt-[52px] pt-[44px]">
{{> header }}
{{> body }}
{{> footer}}
  </body>
</html> 
 